@model ABCVehicleShowroom.Models.modelProduct

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Delete</h1>
                    </div>
                    <div class="col-6">
                        <div class="float-right pt-1">
                            <input type="submit" value="Delete" class="btn btn-primary btn-sm" />
                            <button type="button" class="btn btn-danger btn-sm">
                                <a href="~/Admin/Product/Index" class="text-white"><i class="fas fa-arrow-circle-left"></i>&nbsp; Back</a>
                            </button>
                        </div>
                    </div>
                </div>

            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <label>Product Name</label>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Brand</label>
                                @Html.DropDownListFor(model => model.BrandId, (SelectList)ViewBag.ListBrand, "[Choose Brand]", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                <label>Category</label>
                                @Html.DropDownListFor(model => model.CatId, (SelectList)ViewBag.ListCat, "[Choose Category]", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CatId, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                <label>Quantity</label>
                                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                <label>Price</label>
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                <label>Promotional Price</label>
                                @Html.EditorFor(model => model.Price_sale, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Price_sale, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" name="Status">
                                    <option value="1">Available</option>
                                    <option value="2">Not Available</option>

                                </select>
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Discount</label>
                                <select class="form-control" name="Discount">
                                    <option value="1">Display</option>
                                    <option value="2">Hide</option>

                                </select>
                                @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Image</label>
                                <input type="file" name="Img" class="form-control" />
                            </div>


                        </div>
                        <div class="col-md-6">
                            @*Right side*@
                            <div class="form-group">
                                <label>Product Detail</label>

                                @Html.TextAreaFor(model => model.Detail, new { @class = "textarea", style = "height: 100px" })
                                @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
}





@*<h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>modelProduct</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CatId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CatId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Slug)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Slug)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Img)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Img)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Detail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Detail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Number)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Number)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price_sale)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price_sale)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Metakey)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Metakey)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Metadesc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Metadesc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created_at)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created_at)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created_by)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created_by)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Updated_at)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Updated_at)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Updated_by)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Updated_by)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>*@
