@using PagedList.Mvc;
@model PagedList.IPagedList<ABCVehicleShowroom.Models.modelProduct>
<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="~/" class="stext-109 cl8 hov-cl1 trans-04">
            Home Page
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <span class="stext-109 cl4">
            <a href="~/">
                All Cars
            </a>
        </span>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Display categories and brand on left side -->
        

        <div class="col-md-3">
            @Html.Action("ListBrand", "Module")
            @Html.Action("ListCategory", "Module")
            <div class="side-bnr margin-top-50">
                <img class="img-responsive"
                     src="~/Public/images/side-banner.jpg" alt="">
            </div>

        </div>
        
        <div class="col-md-9">

            <!-- Product -->
            <div class="bg0 m-t-23 p-b-140">
                <div class="container">
                    <div class="row isotope-grid">
                        @foreach (var row in Model)
                        {
                            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-pic hov-img0">
                                        <img src="~/Public/Library/images/product/@row.Img" alt="@row.Name">

                                        <a href="javascript:void(0)" onclick="addcartHome(@row.Id)" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1" style="font-size:10px;">
                                            Add to cart
                                        </a>
                                    </div>

                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="block2-txt-child1 flex-col-l ">
                                            <a href="~/@row.Slug" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                @row.Name
                                            </a>

                                            <span class="stext-106 cl3">
                                                <del>@String.Format("{0:0,0$}", @row.Price)</del>
                                            </span>
                                            <span class="stext-106 cl3">
                                                @String.Format("{0:0,0$}", @row.Price_sale)
                                            </span>
                                            <br />
                                            
                                        </div>

                                        <div class="block2-txt-child2 flex-r p-t-3">
                                            <a href="~/thanh-toan" class="btn-addwish-b2 dis-block pos-relative js">
                                                <img class="icon-heart1 dis-block trans-04" src="~/Public/user/images/icons/icon-heart-01.png" alt="ICON">
                                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/Public/user/images/icons/icon-heart-02.png" alt="ICON">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                    <!-- Load more -->
                    <div class="flex-c-m flex-w w-full p-t-45 justify-content-center">
                        @Html.PagedListPager(Model, page => Url.Action("Index",
                                    "Site", new { slug = ViewBag.Slug, page }))
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>