@model List<ABCVehicleShowroom.Models.CartItem>
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<style>
    .checkout-title {
        font-size: 20px;
        line-height: 23px;
        text-transform: capitalize;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .checkout-form {
        background-color: #ffffff;
        padding: 30px;
        -webkit-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
    }

        .checkout-form label {
            display: block;
            font-size: 14px;
            margin-bottom: 12px;
            font-weight: 500;
            text-transform: capitalize;
        }

        .checkout-form .nice-select {
            width: 100%;
            background-color: transparent;
            border: 1px solid #999999;
            border-radius: 0;
            line-height: 23px;
            padding: 10px 20px;
            font-size: 14px;
            height: 45px;
            color: #7a7a7a;
            margin-bottom: 15px;
        }

            .checkout-form .nice-select::after {
                width: 6px;
                height: 6px;
                border-width: 1px;
                right: 20px;
                border-color: #7a7a7a;
            }

            .checkout-form .nice-select .current {
                color: #7a7a7a;
                display: block;
                line-height: 23px;
            }

            .checkout-form .nice-select .list {
                width: 100%;
            }

        .checkout-form input {
            width: 100%;
            background-color: transparent;
            border: 1px solid #999999;
            border-radius: 0;
            line-height: 23px;
            padding: 10px 20px;
            font-size: 14px;
            color: #7a7a7a;
            margin-bottom: 15px;
        }

            .checkout-form input[type="checkbox"] {
                width: auto;
            }

        .checkout-form .check-box {
            float: left;
            margin-right: 70px;
        }

            .checkout-form .check-box:last-child {
                margin-right: 0;
            }

            .checkout-form .check-box input[type="checkbox"] {
                display: none;
            }

                .checkout-form .check-box input[type="checkbox"] + label {
                    position: relative;
                    padding-left: 30px;
                    line-height: 20px;
                    font-size: 14px;
                    font-weight: 400;
                    color: #363f4d;
                    margin: 0;
                }

                    .checkout-form .check-box input[type="checkbox"] + label::before {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 20px;
                        height: 20px;
                        display: block;
                        border: 2px solid #999999;
                        content: "";
                        -webkit-transition: all 0.3s ease 0s;
                        -o-transition: all 0.3s ease 0s;
                        transition: all 0.3s ease 0s;
                    }

                    .checkout-form .check-box input[type="checkbox"] + label::after {
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: block;
                        content: "\f00c";
                        font-family: Fontawesome;
                        font-size: 12px;
                        line-height: 20px;
                        opacity: 0;
                        color: #363f4d;
                        width: 20px;
                        text-align: center;
                        -webkit-transition: all 0.3s ease 0s;
                        -o-transition: all 0.3s ease 0s;
                        transition: all 0.3s ease 0s;
                    }

                .checkout-form .check-box input[type="checkbox"]:checked + label::before {
                    border: 2px solid #363f4d;
                }

                .checkout-form .check-box input[type="checkbox"]:checked + label::after {
                    opacity: 1;
                }
</style>



<link href="~/Public/css/cssNganLuong.css" rel="stylesheet" />
<br />
<br />
<br />
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="~/" class="stext-109 cl8 hov-cl1 trans-04">
            Home Page
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Check out
        </span>
    </div>
</div>
<section class="container stylization maincont">
    <!-- Cart Items - start -->
    <form class="bg0 p-t-75 p-b-85" action="@Url.Action("updateitem")" method="get" ">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <tr class="table_head">
                                    <th class="column-2">Product</th>
                                    <th class="column-2">Image</th>
                                    <th class="column-3">Price</th>
                                    <th class="column-3">Quantity</th>
                                    <th class="column-5">Total</th>
                                    <th class="column-6">#</th>
                                </tr>
                                @{ long TongTien = 0;}
                                @foreach (var iten in Model)
                                {
                                    TongTien += @iten.product.Price_sale * @iten.quantity;
                                    var sum = @iten.product.Price * @iten.quantity;
                                    <tr class="table_row">
                                        <td class="column-2"><a href="~/@iten.product.Slug">@iten.product.Name</a></td>
                                        <td class="column-2">
                                            <div class="how-itemcart1">
                                                <img src="~/Public/Library/images/product/@iten.product.Img" alt="@iten.product.Name">
                                            </div>
                                        </td>

                                        <td class="column-3">@String.Format("{0:0,0$}", @iten.product.Price)</td>
                                        <td class="column-3">
                                            <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                                </div>
                                                <input class="mtext-104 cl3 txt-center num-product" type="number" name="P_quantity" value="@iten.quantity" min="1" step="1">

                                                <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-plus"></i>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="column-5">@String.Format("{0:0,0$}", @sum)</td>
                                        <td class="column-2"><a href="~/xoa-gio-hang?productID=@iten.product.Id">X</a></td>
                                    </tr>

                                }
                            </table>
                        </div>

                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                            <div class="flex-w flex-m m-r-20 m-tb-5">
                                <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">

                                <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                                    Apply coupon
                                </div>
                            </div>

                            <div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                                Update Cart
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <h4 class="mtext-109 cl2 p-b-30">
                            Cart Totals
                        </h4>

                        <div class="flex-w flex-t bor12 p-b-13">
                            <div class="size-208">
                                <span class="stext-110 cl2">
                                    Total:
                                </span>
                            </div>

                            <div class="size-209">
                                <span class="mtext-110 cl2">
                                    @String.Format("{0:0,0$}", @TongTien)
                                </span>
                            </div>
                        </div>

                        <div class="flex-w flex-t bor12 p-t-15 p-b-30">
                            <div class="size-208 w-full-ssm">
                                <span class="stext-110 cl2">
                                    Shipping Fee:
                                </span>
                            </div>

                            <div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
                                <p class="stext-111 cl6 p-t-2">
                                    0 $
                                </p>


                            </div>
                        </div>

                        <div class="flex-w flex-t p-t-27 p-b-33">
                            <div class="size-208">
                                <span class="mtext-101 cl2">
                                    Total:
                                </span>
                            </div>

                            <div class="size-209 p-t-1">
                                <span class="mtext-110 cl2">
                                    @String.Format("{0:0,0$}", @TongTien)
                                </span>
                            </div>
                        </div>

                        <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                            @*Check out*@
                            <a href="thanh-toan" style="color:white;">Checkout</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Cart Items - end -->

</section>



<!-- Start Checkout -->
<section class="shop checkout section bg-light">
    <div class="container bg-white">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="checkout-form">
                    <h2>Your address</h2>
                    <p>Please fill in all the fields:</p>
                    <!-- Form -->
                    <form class="form" method="POST" action="#">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Name<span>*</span></label>
                                    <input type="text" name="deliveryname" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Phone<span>*</span></label>
                                    <input type="number" name="deliveryphone" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Email<span>*</span></label>
                                    <input type="email" name="deliveryemail" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Adress<span>*</span></label>
                                    <input type="text" name="deliveryaddress" placeholder="" required="required">
                                </div>
                            </div>

                        </div>

                        <!--/ End Form -->
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="order-details">
                    <!-- Order Widget -->
                    <div class="single-widget">
                        <h2>TOTAL/h2>
                        <div class="content">
                            <ul>

                                @foreach (var iten in Model)
                                {
                                    int sale = (int)iten.product.Price_sale;
                                    float price = ((int)iten.product.Price - (int)iten.product.Price / 100 * (int)sale);
                                    float price1 = ((int)iten.product.Price - (int)iten.product.Price / 100 * (int)sale) * (iten.quantity);
                                    float priveNsale = (int)iten.product.Price_sale * iten.quantity;

                                    <li>
                                        @iten.product.Name  X @iten.quantity
                                        <br />
                                        <del class="price-old">@iten.product.Price.ToString("N0") $</del>
                                        <span class="text-danger font-weight-bold">@priveNsale.ToString("N0") $ </span>
                                    </li>
                                }

                                <li>(+) Shipping Fee<span>0 $</span></li>
                                <li class="last">Total<span>@TongTien.ToString("N0") $</span></li>

                            </ul>
                            <input type="hidden" name="sumOrder" value="@TongTien" />
                        </div>
                    </div>
                    <!--/ End Order Widget -->
                    <!-- Order Widget -->
                    

                    <!--/ End Order Widget -->
                    <!-- Payment Method Widget -->
                    <div class="single-widget payement">
                        <div class="content">
                            <img src="~/Public/images/payment-method.png" alt="#">
                        </div>
                    </div>
                    <!--/ End Payment Method Widget -->
                    <!-- Button Widget -->
                    <div class="single-widget get-button">
                        <div class="content">
                            <div class="button">
                                @if (Model.Count() == 0)
                                {
                                    <a href="javascript:void(0)" onclick="checkCartNull()" class="btn">Check out</a>

                                }
                                else
                                {
                                    <button type="submit" class="btn">Place your order</button>
                                }
                                <div class="pt-2">             <a href="~/" class="btn">Continue Shopping</a></div>

                            </div>
                        </div>
                    </div>
                    
                    <!--/ End Button Widget -->
                </div>
            </div>
        </div>
    </div>
</section>