@model IEnumerable<ABCVehicleShowroom.Models.modelBrand>

@{
    //ViewBag.Title = "Loại sản phẩm: "+ @Model.Id;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Brand Management</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Brands</a></li>
                        <li class="breadcrumb-item active">List</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                Brand
                            </div>
                            <div class="col-4">
                                <div class="float-right pt-1">
                                    <a href="@Url.Action("Create","Brand")" class="btn btn-sm btn-success"><i class="fas fa-plus fa-xs"></i>Add</a>
                                    <a href="@Url.Action("Trash","Brand")" class="btn btn-sm btn-danger"><i class="far fa-trash-alt fa-xs"></i>Trash (@ViewBag.demrac)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card">
                        @Html.Partial("_Message")
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Brand Name</th>
                                    <th>Created Date</th>
                                    <th>Link</th>
                                    <th>Tools</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Updated_at)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Slug)
                                        </td>
                                        <td>
                                            @if (item.Status == 1)
                                            {
                                                <a href="@Url.Action("Status","Brand",new {id = item.Id })" class="btn btn-success btn-sm" title="Display"><i class="fas fa-toggle-on"></i></a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("Status","Brand",new {id = item.Id })" class="btn btn-secondary btn-sm" title="Hide"><i class="fas fa-toggle-off"></i></a>
                                            }
                                            <a href="@Url.Action("Edit","Brand",new {id = item.Id })" class="btn btn-secondary btn-sm" title="Edit"><i class="fas fa-edit"></i></a>
                                            <a href="@Url.Action("delTrash","Brand",new {id = item.Id })" class="btn btn-dark btn-sm" title="Delete"><i class="far fa-trash-alt"></i></a>
                                        </td>

                                    </tr>  
                                }
                            </tbody>
                        </table>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

