@model IEnumerable<ABCVehicleShowroom.Models.modelOrder>
@{
    ViewBag.Title = "Trash";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <!--Content-->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="text-csm">@ViewBag.Title</h5>
                        </div>
                        <div class="col-4">
                            <div class="float-right pt-1">
                                <button type="button" class="btn btn-danger btn-sm">
                                    <a href="~/Admin/Order" class="text-white"><i class="far fa-trash-alt fa-xs"></i>&nbsp; Back</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-hover" style="font-size:15px">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Customer Name</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Detail</th>
                                <th>Tool</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                String dh1 = "Confirmed";
                                String dh2 = "Pending";
                                <tr>

                                    <td><a class="text-cam font-weight-bold card-link " href=""> @Html.DisplayFor(modelItem => item.Id)</a></td>
                                    <td> @Html.DisplayFor(modelItem => item.DeliveryName)</td>
                                    <td width="10%">@Html.DisplayFor(modelItem => item.CreateDate) </td>
                                    <td>
                                        @if (item.Status == 1)
                                        {
                                            <p class="text-success"> @dh1</p>
                                        }
                                        else
                                        { <p class="text-danger"> @dh2</p>}
                                    </td>

                                    <td class="text-cam "><a href="#">Detail</a></td>
                                    <td>
                                        <a class="btn btn-sm btn-light text-dark border" href="@Url.Action("Retrash", "Order", new { id = item.Id })"> <i class="fas fa-undo"></i></a>
                                        <a class="btn btn-sm btn-light text-danger border" href="@Url.Action("deleteTrash", "Order", new { id = item.Id })">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<script>
        $("#order").addClass("active");
</script>