@model IEnumerable<ABCVehicleShowroom.Models.modelUser>

@{
    ViewBag.Title = "Trash";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Trash</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/Admin/User">User</a></li>
                        <li class="breadcrumb-item active">List</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                        </div>
                        <div class="col-4">
                            <div class="float-right pt-1">
                               
                                <button type="button" class="btn btn-danger btn-sm">
                                    <a href="~/Admin/User/Index" class="text-white"><i class="fas fa-backward"></i>&nbsp; Back</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    User Name
                                </th>
                                <th>
                                    Password
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Gender
                                </th>

                                <th>Tools</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details","User", new {Id = item.ID })">@item.fullname</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.username)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.password)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.gender)
                                    </td>
                                    <td>
                                        
                                        <p type="button" class="btn btn-secondary btn-sm"><a class="text-white" href="~/Admin/User/Undo/@Html.DisplayFor(modelItem => item.ID)"><i class="fas fa-undo"></i></a></p>
                                        <p type="button" class="btn btn-dark btn-sm"><a class="text-white d-block" href="~/Admin/User/delete/@Html.DisplayFor(modelItem => item.ID)"><i class="far fa-trash-alt"></i></a></p>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>